<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Title{% endblock %}</title>
        <!-- Styles -->
        {% include "styles" %}

        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
        <script src="{{ "modernizr.min.js" | asset_url }}"></script>
    </head>
    <body>

    <!-- Page divided into blocks for modularity. Change/delete/add as you like. -->
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    <!-- Scripts -->
        {% include "scripts" %}
    </body>
</html>