// Dimensions
$site_width: 960px

$base-line-height: 18
$base-font-size: 12

// Breakpoints
$tablet: $site_width
$mobile: 620px
$laptop: 1320px

// Backgrounds
$border: 1px dotted #888

$dark_gray: #1a1a1a
$light_gray: #eee
$color1: #111
$color2: #222
$color3: #333

// Fonts
$font-h: "Helvetica Neue", helvetica, Arial, sans-serif
$font-p: "Helvetica Neue", helvetica, Arial, sans-serif

// Colors
$font-color: #000
